<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Latest compiled JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript" src="js/main.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">

  <title>Adopt me</title>
</head>

<body>
  <div class="container-fluid">
    <nav class="navbar bg-light fixed-top navbar-expand-lg navbar-expand-xl navbar-expand-md navbar-light pb-1">
      <a href="#" class="navbar-brand ml-5">
        <img src="logo.png" width="30" height="30" class="d-inline-block mb-2">
        Adoptme.Org
      </a>
      <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mr-5">
            <a href="#" class="nav-link">WHAT we do</a>
          </li>
          <li class="nav-item mr-5">
            <a href="#" class="nav-link">WHO we are</a>
          </li>
          <li class="nav-item mr-5">
            <a href="#" class="nav-link">EVENTS adoption</a>
          </li>
        </ul>
    </nav>
  </div>
  <div class="row">
    <div class="full-width dogs img_dogs">
      <!--<img src="dogs.jpg" alt="dogs" class="img_dogs">-->
      <div class="new_family">
        <p class="title_new_fam">This is your new family!</p>
        <button type="button" name="button5" id="button5">ADOPT NOW</button>
      </div>
    </div>
  </div>

  <div class="row row1">
    <div class="col-12 col-xs-12 col-md-4 col-lg-4 col-xl-4 col1_r1">
      <div class="row row1_1">
        <p class="sub_title">VOLUNTEERS</p>
      </div>
      <div class="row row1_2">
        <img src="girl.png" alt="girl" width="100%">
      </div>
      <div class="row row1_3">
        <p class="p_text">Amazing people, doing the difference every single day. Join us now and be part of a community that is changing the world.</p>
        <button type="button" name="button1" id="button1">JOIN US</button>
      </div>
    </div>
    <div class="col-12 col-xs-12 col-md-7 col-lg-7 col-xl-7 col2_r1">
      <div class="row row1_4">
        <p class="sub_title">TESTIMONIAL OF THE MONTH</p>
      </div>
      <div class="row img_testimonial">
        <p class="video_title">Mangi, my best friend who saved my life</p>
      </div>
    </div>
  </div>

  <div class="row row2">
    <div class="col-12 col-xs-12 col-md-8 col-lg-8 col-xl-8">
      <div class="row">
        <ul>
          <li class="activo"><a href="#">PROGRAMS</a></li>
          <li><a href="#">ASSOCIATED COMPANIES</a></li>
        </ul>
      </div>
      <div class="row row_programs">
        <div class="col-3 col-xs-3 col-md-3 col-lg-3 col-xl-3">
          <img src="friend-in-trouble.png" alt="programs1" class="img_programs">
        </div>
        <div class="col-9 col-xs-9 col-md-9 col-lg-9 col-xl-9">
          <p class="sub_title2">BEHAVIOR PROGRAM</p>
          <p class="p_text2">Evaluation of each dog using specialists who determine the best training that will help you friend be a better family member</p>
          <button type="button" name="button" id="button2">READ MORE</button>
        </div>
      </div>
      <div class="row row_programs row_programs2">
        <div class="col-3 col-xs-3 col-md-3 col-lg-3 col-xl-3">
          <img src="friendogs.png" alt="programs1" class="img_programs">
        </div>
        <div class="col-9 col-xs-9 col-md-9 col-lg-9 col-xl-9">
          <p class="sub_title2">MY NEXT FAMILY</p>
          <p class="p_text2">Are you looking for a new family member? Then, this program is for you. Don't buy, adopt here, and let's give a home to this amazing friends</p>
          <button type="button" name="button" id="button3">READ MORE</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-xs-12 col-md-4 col-lg-4 col-xl-4 col_adoptdog">
      <img src="adoptme-dog.png" alt="adoptme-dog" class="img_adoptdog">
    </div>
  </div>
  </div>

  <div class="container-fluid">
    <div class="row mt-md-6" id="footer">
      <div class="col-3 col-xs-3 col-md-3 col-lg-3 col-xl-3 footer_1">
        <a href="#" class="navbar-brand">
          <img src="logo.png" width="30" height="30" class="d-inline-block mb-2">
          Adoptme.Org
        </a>
        <p class="f_dir">Main St #1245</p>
        <p class="f_dir">Amazing City, 45677</p>
        <p class="f_dir pt-4">Some images were taken from unsplash.com</p>
      </div>
      <div class="col-2 col-xs-2 col-md-2 col-lg-2 col-xl-2 footer_2">
        <a href="#">WHAT we do</a>
      </div>
      <div class="col-2 col-xs-2 col-md-2 col-lg-2 col-xl-2 footer_2">
        <a href="#">WHO we are</a>
      </div>
      <div class="col-2 col-xs-2 col-md-2 col-lg-2 col-xl-2 footer_2">
        <a href="#">EVENTS adoption</a>
      </div>
    </div>
  </div>

  </footer>
</body>

</html>