$color-red: #EF3E42;
$color-blue: #332982;
$color-gray: #777;

// Font families can be obtained from:
// https://fonts.google.com/?query=open&selection.family=Open+Sans+Condensed:300|Open+Sans:400,700
// <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:400,700" rel="stylesheet">
$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Open Sans Condensed', sans-serif;

$font-size-h1: 60px;
$font-family-h1: $font-family-primary;
$font-weight-h1: 300;

$font-size-h2: 20px;
$font-family-h2: $font-family-secondary;
$font-weight-h2: bold;

$font-size-1em: 1em;
$font-size-1_3em: 1.3em;
$font-size-2em: 2em;

body{
  overflow-x: hidden;
}
/*NAVBAR*/
.bg-light{
  background-color: $color-red!important;
  .navbar-brand,.navbar-brand:hover{
    font-family: $font-family-secondary;
    font-size: $font-size-1em*2;
    font-weight: $font-weight-h1;
    color: white!important;
  }
  .nav-item{
    .nav-link{
      font-family: $font-family-primary;
      font-size: $font-size-1em;
      font-weight: $font-weight-h2;
      color: white!important;
      padding-left: .3em;
      padding-right: .3em;
      transition: text-shadow .5s;
    }
    .nav-link:hover{
      text-shadow: 0 0 20px white;
    }
  }
}

/*VOLUNTEERS and TESTIMONIAL*/

//All buttons
button {
  background-color: white;
  border: 2px solid black;
  padding: auto;
  margin: auto;
  text-align: center;
  font-family: $font-family-primary;
  font-size: $font-size-1em;
  font-weight: $font-weight-h2;
  cursor: pointer;
}

.row1{
  margin-top: 1.5em;
  margin-left: 3.5em;
  margin-bottom: 2.2em;
}
.col1_r1{
  height: 100%;
  margin-right: 2em;
  box-shadow: 0 0 8px $color-gray;
}

.col2_r1{
  height: 100%;
  box-shadow: 0 0 8px $color-gray;
}

.sub_title{
  font-family: $font-family-primary;
  font-size: $font-size-1em*1.5;
  font-weight: $font-weight-h2;
  color: white;
  margin: auto;
  margin-left: 1em;
}
.p_text{
  font-family: $font-family-secondary;
  font-size: $font-size-1em*1.2;
  padding-right: 3em;
  padding-top: 1em;
  padding-left: 1em;
  color: $color-gray;
}
#button1{
  margin-left: 1em;
  border-color: $color-blue;
  color: $color-blue;
  padding-left: 1em;
  padding-right: 1em;
  transition: color .8s, background-color .8s;
}
#button1:hover{
  background-color: $color-blue;
  color: white;
}

.img_testimonial{
  background-image: url('/testimonial.jpg');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.video_title{
  font-family: $font-family-primary;
  font-size: $font-size-1em*1.4;
  color: white;
  margin: auto;
  margin-top: 1em;
  margin-left: 1.5em;
}

/*PROGRAMS and ASSOCIATED COMPANIES */
.row2{
  margin-left: 3.5em;
  margin-right: 3.5em;
  margin-bottom: 2em;
  ul{
    list-style-type: none;
    margin:0;
    margin-bottom: .2em;
    padding: 0;
    li{
      float:left;
      padding-left: .1em;
      padding-right: .3em;
      margin-right: 2em;
      transition: border-bottom .5s;
      a{
        display: block;
        color: $color-gray;
        font-family: $font-family-primary;
        font-size: $font-size-1em*1.4;
        font-weight: $font-weight-h2;
        text-align: center;
        padding: auto;
        text-decoration: none;
        transition: color .5s;
      }
    }
    .activo{
      border-bottom: 3px solid $color-blue;
      a{
        color: $color-blue;
      }
    }
    li:hover{
      border-bottom: 3px solid $color-blue;
      a{
        color: $color-blue;
      }
    }
  }
}
.col-3, .col-xs-3, .col-md-3, .col-lg-3, .col-xl-3{
  padding-left: 0;
}
.row_programs{
  margin-top: 1.3em;
}
.img_programs{
    width: 100%;
    height: 100%;
}
.sub_title2{
  padding-top: .4em;
  color: $color-red;
  font-family: $font-family-primary;
  font-size: $font-size-1em*1.2;
  font-weight: $font-weight-h2;
}
.p_text2{
  font-family: $font-family-secondary;
  font-size: $font-size-1em*1.2;
  padding-right: 2.6em;
  padding-top: .5em;
  color: $color-gray;
}
#button2{
  border-color: $color-red;
  color: $color-red;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0;
  margin-top: .8em;
  transition: color .8s, background-color .8s;
}
#button2:hover{
  background-color: $color-red;
  color: white;
}
#button3{
  @extend #button2;
}
.img_adoptdog{
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/*FOOTER*/
#footer{
  height: 280px;
  background-color: $color-blue;
  .footer_1{
    padding-left: 5em;
    a{
      color: white;
      font-family: $font-family-secondary;
      font-size: $font-size-1em*2;
      font-weight: $font-weight-h1;
      text-align: left;
      text-decoration: none;
      margin-top: 1em;
    }
    .f_dir{
      color: white;
      font-family: $font-family-secondary;
      font-size: $font-size-1em*.8;
      font-weight: $font-weight-h1;
      text-align: left;
    }
  }
  .footer_2{
    margin-top: 5em;
    a{
      color: white;
      font-family: $font-family-primary;
      font-size: $font-size-1em;
      font-weight: $font-weight-h2;
      text-align: center;
      text-decoration: none;
      transition: text-shadow .5s;
    }
    a:hover{
      text-shadow: 0 0 20px white;
    }
  }
}

@media (max-width: 576px) {
  .img_dogs{
    object-fit: cover;
    width: 100%;
    height: 350px;
  }
  .row1{
    margin-top: .7em;
    margin-left: .5em;
    margin-right: .5em;
    margin-bottom: 1em;
    height: 420px;
  }
  .col1_r1{
    margin-right: 0;
    margin-bottom: 1em;
  }
  .row1_1{
    height: 50px;
    background-color: $color-blue;
  }
  .row1_4{
    height: 90px;
  }
  .img_testimonial{
    height: 370px;
  }
  .video_title{
    margin-left: .5em;
  }
  .row2{
    margin-top: 30.5em;
    margin-left: .5em;
    margin-right: .5em;
    height: 590px;
  }
  .row_programs{
    height: 180px;
  }
  .p_text2{
    padding-right: 0;
  }
   .row_programs2{
     margin-top: 6em;
   }
   .img_adoptdog{
    display:none;
   }
   .col_adoptdog{
     height: 0;
   }
   .img_programs{
     max-height: 100%;
     object-fit: contain;
   }
   #footer{
       height: 360px;
       .footer_1{
         padding-left: .5em;
       }
       .footer_2{
         padding-top: 2.2em;
         margin-left: 1em;
       }
   }
}
@media (min-width: 576px) and (max-width:768px) {
  .img_dogs{
    object-fit: cover;
    width: 100%;
    height: 500px;
  }
  .row1{
    margin-left: .5em;
    margin-right: .3em;
    height: 570px;
  }
  .col1_r1{
    margin-right: 0;
    margin-bottom: 1em;
  }
  .col2_r1{
    height: 410px;
  }

  .row1_1, .row1_4{
    height: 40px;
    background-color: $color-blue;
  }
  .img_testimonial{
    height: 370px;
  }
  .row2{
    margin-top: 27.5em;
    margin-left: .5em;
    margin-right: .5em;
    height: 480px;
  }
  .p_text2{
    padding-right: 0;
  }
  .row_programs{
    height: 100px;
  }
  .row_programs2{
    margin-top: 7em;
  }
  .img_adoptdog{
    display: none;
  }
  .col_adoptdog{
    height: 0;
  }
  #footer{
      height: 330px;
      .footer_1{
        padding-left: 1em;
      }
      .footer_2{
        padding-top: 2.2em;
        margin-left: 2em;
      }
  }
}
@media (min-width: 768px) and (max-width:992px) {
  .img_dogs{
    object-fit: cover;
    width: 100%;
    height: 540px;
  }
  .row1{
    height: 460px;
    margin-bottom: 0;
  }
  .row1_1, .row1_4{
    height: 54px;
    background-color: $color-blue;
  }
  .img_testimonial{
    height: 406px;
  }
  .row2{
    height: 550px;
    margin-top: 2em;
  }

  .row_programs{
    height: 135px;
  }
  .row_programs2{
    margin-top: 7em;
  }
  #footer{
      height: 330px;
      .footer_1{
        padding-left: 1.5em;
      }
      .footer_2{
        padding-top: 2.2em;
        margin-left: 4em;
      }
  }
}
@media (min-width: 992px) and (max-width:1200px) {
  .img_dogs{
    object-fit: cover;
    width: 100%;
    height: 610px;
  }
  .row1{
    height: 500px;
  }
  .row1_1, .row1_4{
    height: 60px;
    background-color: $color-blue;
  }
  #button1{
    margin-top: 1em;
  }
  .img_testimonial{
    height: 440px;
  }
  .row2{
    height: 520px;
  }
  .row_programs{
    height: 150px;
  }
  .row_programs2{
    margin-top: 5em;
  }
  #footer{
      height: 330px;
      .footer_1{
        padding-left: 1.5em;
      }
      .footer_2{
        padding-top: 2.2em;
        margin-left: 3em;
      }
  }
}
@media (min-width: 1200px) {
  .img_dogs{
    object-fit: cover;
    width: 100%;
    height: 640px;
  }
  .row1{
    height: 560px;
  }
  .row1_1, .row1_4{
    height: 70px;
    background-color: $color-blue;
  }
  #button1{
    margin-top: 1.8em;
  }
  .img_testimonial{
    height: 490px;
  }
  .row_programs{
    height: 175px;
  }
  .row_programs2{
    margin-top: 2.5em;
  }
}
.row1_4{
  background-color: $color-red;
}
